<!-- main Container/body -->
<div class="bg-[#18191a] text-gray-200 m-0 p-0 flex flex-col md:flex-row min-h-screen">
  <!-- Sidebar -->
<%- include("./sidebar.ejs")%>
<!-- Sidebar end -->

  <!-- Main Content -->
 
  <div class="container mx-auto py-6">
   <h1 class="text-2xl font-semibold mb-4 text-gray-200">Add Discount</h1>
   <form action="/admin/addDiscount" method="POST" id="add-discount-form" class="bg-[#242526] p-6 rounded shadow-md">

    <%- include('../partials/flashMessage.ejs') %>
  
     <div class="mb-4">
       <label class="block text-gray-300">Discount Type:</label>
       <select id="discountTypes" name="discountType" class="input w-full bg-[#1f1f1f] text-white border border-gray-600 rounded-md p-2 mb-4">
         <option value="product">Select Option</option>
         <option value="product">Product</option>
         <option value="category">Category</option>
       </select>
       
     </div>

     <div class="mb-4">
       <label class="block text-gray-300">Discount Value:</label>
       <input type="number" id="discountValue" name="discountValue" required class="input w-full bg-[#1f1f1f] text-gray-200 border border-gray-600 rounded-md p-2 mb-4" >
       <p id="discountValueError" class="text-red-500 text-sm" aria-live="assertive"></p>
     </div>

     <div id="productSelect" class="mb-4 hidden">
       <label class="block text-gray-300">Product:</label>
       <select id="product" name="product" class="input w-full bg-[#1f1f1f] text-white border border-gray-600 rounded-md p-2 mb-4">
         <option value="">Select Option</option>
         <% productList.forEach((product) => { %>
           <option value="<%= product._id %>"><%= product.name %></option>
           <% }); %>
       </select>
     </div>

     <div id="categorySelect" class="mb-4 hidden">
       <label class="block text-gray-300">Category:</label>
       <select id="category" name="category" class="input w-full bg-[#1f1f1f] text-white border border-gray-600 rounded-md p-2 mb-4">
         <option value="">Select Option</option>
         <% categoryList.forEach((category) => { %>
           <option value="<%= category._id %>"><%= category.name %></option>
           <% }); %>
       </select>
     </div>

     <button type="submit" class="bg-gradient-to-r from-blue-500 to-purple-600 hover:from-blue-600 hover:to-purple-700 text-white font-bold py-1 px-2 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">
       Add Discount
     </button>
   </form>
  </div>

  </div>
</div>
<script>
 // Toggle between product and category options based on discount type
document.addEventListener('DOMContentLoaded', () => {

  const form = document.getElementById('add-discount-form');
  if(form) {
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      const isValid = validateForm();
      if(isValid) {
        this.submit();
      } else {
        console.log('Form submission prevented due to validation errors.');
      }
    })

    document.getElementById('discountValue').addEventListener('input', () => validateField('discountValue'))
  }

  function validateForm(){
    const fields = ['discountValue'];
    let isvalid = true;

    fields.forEach(field => {
      if(!validateField(field)) {
        isvalid = false;
      }
    })
    return isvalid;
  }

  function validateField(fieldname) {
    const field = document.getElementById(fieldname)
    const errorElement = document.getElementById(`${fieldname}Error`)
    let isValid = true;

    switch(fieldname) {
      case 'discountValue':
        const discountValue = field.value.trim();
        isValid = /^\d+$/.test(discountValue) && parseInt(discountValue) >= 1 && parseInt(discountValue) <= 90 && !discountValue.startsWith('0');
        errorElement.textContent = isValid ? '' : 'Discount value should be a number and must be between 1 to 90';
    }
    return isValid;
  }


  document.querySelector('select[name="discountType"]').addEventListener('change', function() {
   const discountType = this.value;
   document.getElementById('productSelect').style.display = (discountType === 'product') ? 'block' : 'none';
   document.getElementById('categorySelect').style.display = (discountType === 'category') ? 'block' : 'none';
 });
})

 </script>
