<%- include('../partials/header.ejs') %>
<div class="bg-black text-white flex">

  <!-- Sidebar for profile -->
  <%- include('./profileSidebar.ejs') %>
  <!-- Sidebar end -->

  <div class="flex-1 p-6">
    <h1 class="text-2xl font-bold mb-4">Available Coupons</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <% couponsList.forEach(coupon => { %>
        <a href="<%= coupon.applicableType === 'product' ? '/product/' + coupon.applicableProduct.id : coupon.applicableType === 'category' ? '/Category/' + coupon.applicableCategory.id : '/shop/allProducts' %>" class="bg-gray-900 p-4 rounded-lg shadow-lg transition-transform transform hover:scale-105 block">
          
          <h2 class="text-lg font-semibold mb-2 text-yellow-400">
            <%= coupon.couponCode %> - <%= coupon.discountValue %> <%= coupon.discountType === 'percentage' ? '%OFF' : '₹OFF' %>
          </h2>
          
          <div class="mt-2">
            <% if (coupon.applicableType === 'category') { %>
              <img src="<%= coupon.applicableCategory.image %>" alt="<%= coupon.applicableCategory.name %>" class="w-full h-48 object-cover rounded-md border border-gray-600">
              <p class="mt-2 text-sm text-purple-400">Category: <%= coupon.applicableCategory.name %></p>
            <% } else if (coupon.applicableType === 'product') { %>
              <img src="<%= coupon.applicableProduct.image[1] %>" alt="<%= coupon.applicableProduct.name %>" class="w-full h-48 object-cover rounded-md border border-gray-600">
              <p class="mt-2 text-sm text-purple-400">Product: <%= coupon.applicableProduct.name %></p>
            <% } else { %>
              <img src="/img/All1.jpg" alt="Default Product Image" class="w-full h-48 object-cover rounded-md border border-gray-600">
              <p class="mt-2 text-sm text-purple-400">Applicable for all products</p>
            <% } %>
          </div>

          <p class="mt-4 text-sm text-gray-400">
            <span class="font-semibold text-green-400">Valid from:</span> 
            <span class="text-orange-400">
              <%= coupon.startDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }) %> to 
              <%= coupon.expiryDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }) %>
            </span>
          </p>
        </a>
      <% }) %>
    </div>
  </div>

</div>
<%- include('../partials/footer.ejs') %>