<!-- main Container/body -->
    <div class="bg-black text-white">
      
        <%- include('../partials/header.ejs')%>


            <!-- Banner -->
             <% if (banner) { %>
              <section class="relative h-96 bg-cover bg-center" style="background-image: url('<%= banner.image %>');">
                <div class="absolute inset-0 bg-black bg-opacity-10 flex justify-center items-center mt-52">
                  <h1 class="text-white text-3xl md:text-5xl font-bold almendra-sc-regular">
                    <%= banner.description %>
                  </h1>
                </div>
              </section>
             <% } else { %>
              <section class="relative h-96 bg-cover bg-center" style="background-image: url('img/banner.jpg');">
                <div class="absolute inset-0 bg-black bg-opacity-10 flex justify-center items-center mt-52">
                  <h1 class="text-white text-3xl md:text-5xl font-bold almendra-sc-regular">
                    Seen the World of Unseen
                  </h1>
                </div>
              </section>
             <% } %>
      
          
          <!-- Category -->
          <div class="bg-black py-8">
            <h2 class="text-center text-5xl mb-8  almendra-sc-regular">Category</h2>         
            <!--  grid layout -->
             <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4">
                 <!-- Card 1 -->
                  <% if (categoryList .length > 0 ) { %>
               <% categoryList.forEach(Category => { %>
                <div class="  rounded-lg overflow-hidden shadow-lg">
                  <div class="h-96 w-full overflow-hidden">
                    <a href="/shop/category/<%= Category._id %>">
                      <img src="<%- Category.image %>" alt="<%- Category.image %>" class="w-full h-full object-cover" loading="lazy">
                    </a>
                  </div>
                  <div class="p-4">
                    <h3 class="text-white text-xl font-semibold text-center"><%- Category.name %></h3>
                    <p class="text-center">
                      <a href="/shop/category/<%= Category._id %>" class="text-orange-400 hover:text-orange-600 font-bold">Shop Now</a>
                    </p>
                  </div>
                </div>
               <% }) %>     
               <% } else { %>
                <p class="text-center text-red-400">No categories available</p>
                <% } %>        
            </div>
          </div>
    
       
    
    <!-- Latest Products -->
    <div class="text-center p-10">
        <h1 class="font-bold text-4xl mb-4 almendra-sc-regular">Latest Products</h1>
        
    </div>
    
    <!-- ✅ product Section - Starts Here 👇 -->
    <section
        class="flex flex-wrap justify-center gap-14 mt-10 mb-5 ">
           <% latestProduct.forEach(products => { %>
            
            <article class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
                <a href="/product/<%= products._id %>">
    
                    <img src="<%= products.image[1] %>" alt="<%= products.image[1] %>" class="h-80 w-72 object-cover rounded-t-xl" />
                </a>
                  <div class="px-4 py-3 w-72">
                    <span class="text-gray-400 mr-3 uppercase text-xs"><%= products.category.name %></span>
                    <p class="text-lg font-bold text-black truncate block capitalize"><%= products.name %></p>
                    <div class="flex items-center">
                      <% if(products.discountedPrice < products.price) { %>
                        <span class="text-lg text-black font-bold cursor-auto mr-2">₹<%= products.discountedPrice.toFixed(0) %></span>
                        <p class="text-sm font-semibold text-black cursor-auto my-3 line-through">₹<%= products.price %></p>      
                        <span class="text-sm text-yellow-500 ml-2 font-bold"><%= Math.round(((products.price - products.discountedPrice) / products.price) * 100) %> % OFF</span>
                      <% } else { %>
                        <p class="text-lg font-semibold text-black cursor-auto my-3">₹<%= products.price %></p>
                        <% } %>
                        
                        <div class="ml-auto flex items-center gap-3">
                          <% if(user) { %>
                            <form action="/wishlist/<%= products._id %>" method="POST" class="wishlist-form">
                              <button type="submit" class="text-black wishlist-button" data-product-id="<%= products._id %>" data-in-wishlist="<%=products.Wishlist %>">
                                <i class="fas fa-heart"></i>
                              </button>
                            </form>
                            <button onclick="addToCart('<%= products._id %>')"  class="text-black">
                              <i class="fas fa-cart-plus"></i>
                            </button>
                    
                          <% } else { %>
                            <a href="/login">
                              <i class="fas fa-heart text-black"></i>
                            </a>
                            <a href="/login">
                              <i class="fas fa-cart-plus text-black"></i>
                            </a>
                          <% } %>
                        </div>
                    </div>
                  </div>
                
            </article>
           <% }) %>
                
    </section>
    
    <%- include('../partials/footer.ejs') %>
  
    </div>
    
